################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
/ConsoleApp1/.vs/ConsoleApp1/CopilotIndices/17.14.1561.44479
